.pintper-container-nav {
    width: 100%;
    height: 10vh;
    color: var(--primary);
}

.pintper-row {
    background-color: var(--primary);
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
}

.pintper-row .pintper-logo-container a {
    display: inline;
}

.pintper-row .pintper-logo-container #pintper-logo-simple {
    width: 8vh;
    height: 8vh;
}

.pintper-row .pintper-iniciar-sesion-container a{
    display: inline;
}

.pintper-row #user-icon {
    width: 4vh;
    height: 4vh;
    float: right;
    position: relative;
    fill: var(--white);
    z-index: 150;
    right: 5px;
}

.pintper-row #user-icon:hover {
    cursor: pointer;
}

.pintper-iniciar-sesion-container {
    padding: 0 15px;
}

.pintper-iniciar-sesion-container .pintper-txt-busqueda {
    max-width: 175px;
    width: 150px;
    border: 2px solid var(--white);
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    
    .pintper-iniciar-sesion-container .pintper-txt-busqueda {
        height: 35px;
    }

}