.pintper-container-nav {
    width: 100%;
    color: var(--primary);
}

.pintper-row {
    background-color: var(--primary);
    width: inherit;
    height: inherit;
    position: relative;
}

.pintper-row .pintper-logo-container a {
    display: inline;
}

.pintper-row .pintper-logo-container img {
    width: 40px;
    height: 40px;
}

.pintper-row .pintper-iniciar-sesion-container a{
    display: inline;
}

.pintper-row .pintper-iniciar-sesion-container img {
    width: 20px;
    height: 20px;
    float: right;
    position: relative;
    top: 10px;
    right: 25px;
}


@media screen and (max-width: 374px) {

    .pintper-row .pintper-logo-container img {
        width: 25px;
        height: 25px;
        position: relative;
        top: 0;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 20px;
        height: 20px;
        top: 3px;
        right: 5px;
    }

}

@media screen and (min-width: 375px) {

    .pintper-row .pintper-logo-container img {
        width: 25px;
        height: 25px;
        position: relative;
        top: 0;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 20px;
        height: 20px;
        top: 3px;
        right: 5px;
    }

}

@media screen and (min-width: 423px) {

    .pintper-row .pintper-logo-container img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 20px;
        height: 20px;
        top: 3px;
        right: 5px;
    }

}

@media screen and (min-width: 785px) {

    .pintper-row .pintper-logo-container img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 20px;
        height: 20px;
        top: 5px;
        right: 0;
    }

}

@media screen and (min-width: 1023px) {
    

}

@media screen and (min-width: 1439px) {
    
    .pintper-row .pintper-logo-container img {
        width: 50px;
        height: 50px;
        position: relative;
        top: 5px;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 35px;
        height: 35px;
        top: 15px;
        right: 0;
    }

}


@media screen and (min-width: 1440px) {

    .pintper-row .pintper-logo-container img {
        width: 50px;
        height: 50px;
        position: relative;
        top: 5px;
    }

    .pintper-row .pintper-iniciar-sesion-container img {
        width: 35px;
        height: 35px;
        top: 15px;
        right: 0;
    }

}