.login-usuario {
    width: 100vw;
    height: 100vh;
}

.login-usuario .contenedor-izquierda {
    display: none;
}

.login-usuario .contenedor-derecha {
    background-color: white;
}

.login-usuario .contenedor-derecha .registrar-link {
    height: auto;
    padding: 10px;
}

.login-usuario .contenedor-derecha .registro {
    padding: 10px 20px;
}

.login-usuario .contenedor-derecha .registrar-link p {
    font-size: 12px;
    font-family: var(--open-sans);
    color: var(--black);
    float: right;
}

.login-usuario .contenedor-derecha .registrar-link a {
    text-decoration: none;
    color: var(--blueExtra);
    font-size: 12px;
}

.login-usuario .contenedor-derecha a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion {
    height: 80vh;
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: center;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex {
    display: block;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex h1 {
    font-family: var(--alata);
    font-size: 28px;
    color: var(--black);
    margin: 0;
    margin-top: 5vh;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex p {
    font-family: var(--open-sans);
    font-size: 11px;
    color: red;
    margin: 0;
    margin-bottom: 3vh;
    max-width: 170px;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex label {
    font-size: 16px;
    font-family: var(--alata);
    color: var(--black);
    margin: 5px 0;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex a {
    font-size: 12px;
    font-family: var(--open-sans);
    text-align: center;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
    margin: 10px 25px;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex a:hover {
    text-decoration: underline;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex .pintper-textbox {
    margin: 15px 0;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex .pintper-button {
    margin: 20px 15px;
}

.login-usuario .contenedor-derecha .form-iniciar-sesion .registrar-view h1 {
    margin: 0;
}

.usuario-row {
    background-color: transparent;
}

.usuario-row .pintper-col-16 {
    text-align: center;
}

.usuario-row .pintper-col-16 input {
    margin: 15px 0;
}

.usuario-row .pintper-col-16 .pintper-textbox {
    width: 220px;
}

.usuario-row .pintper-col-16 a {
    font-weight: bold;
    color: var(--black);
    font-family: var(--open-sans);
    font-size: 12px;
    text-decoration: none;
}

.usuario-row .pintper-col-16 p {
    color: var(--black);
    font-family: var(--open-sans);
    font-size: 12px;
}

.usuario-row .pintper-col-16 a:hover {
    color: var(--blueExtra);
    text-decoration: underline;
    cursor: pointer;
}

.form-busqueda {
    display: flex;
    float: right;
    position: relative;
    z-index: 20;
    align-items: center;
}

.pintper-txt-busqueda {
    width: auto;
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white); 
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--alata);
    padding: 5px;
}

.pintper-btn-buscar {
    background: url("../img/buscar.png") no-repeat 50% 50%;
    background-size: cover;
    background-color: transparent;
    width: 5vh;
    height: 4vh;
    border: none; 
    padding: 0;
    margin: 10px;
}

.pintper-btn-buscar:hover {
    cursor: pointer;
}

.pintper-col-1 .pintper-menu {
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
    z-index: 15;
}

.pintper-col-1 .pintper-menu:hover {
    cursor: pointer;
}

.menu-pintper-nav {
    width: auto;
    height: 90vh;
    background-color: var(--primary);
    display: flex;
    position: absolute; 
    right: 0;
    top: 10vh;
    z-index: 10;
    text-align: center;
    justify-content: center;
    width: 250px;
    overflow: hidden;
}

.menu-pintper-nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu-pintper-nav ul li{
    padding: 25px;
    list-style: none;
}

.menu-pintper-nav ul li a {
    color: var(--black);
    font-family: var(--alata);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.menu-pintper-nav ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu-items-container {
    padding: 0;
}

.pintper-row .pintper-col-10 {
    background-color: white;
}

.activo {
    display: flex;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: activo;
    animation-name: activo;
}

@keyframes activo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.items-fade {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: items-fade;
    animation-name: items-fade;
}

@keyframes items-fade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50px, 0, 0);
        transform: translate3d(50px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); 
    }
}

.config-container h1 {
    color: var(--black);
    font-size: 28px;
    font-family: var(--open-sans);
}

.config-container .pintper-row hr {
    border: 1px solid var(--grey);
}

.config-container .pintper-row{
    background-color: white;
}

.config-container .pintper-row p {
    color: var(--grey);
    font-family: var(--open-sans);
    font-size: 18px;
}

.config-container .pintper-row .pintper-textbox {
    margin: 10px 0;
    width: 80%;
}

.config-container .pintper-row .link-contacto-pintper {
    text-align: center;
}

.config-container .pintper-row .link-contacto-pintper p,
.config-container .pintper-row .link-contacto-pintper a {
    color: var(--black);
    font-size: 14px;
    font-family: var(--open-sans);
    text-decoration: none;
    margin: 0;
}

.config-container .pintper-row .link-contacto-pintper a {
    font-weight: bold;
}

.config-container .pintper-row .link-contacto-pintper a:hover {
    text-decoration: underline;
    color: var(--blueExtra);
    cursor: pointer;
}

.config-container .pintper-row .pintper-button {
    margin: 10px 0;
}

.config-container .pintper-row .pintper-button-op2 {
    padding: 10px 50px;
    margin: 10px 0;
    box-sizing: border-box;     
    -webkit-appearance: button;
}

.config-container .pintper-row .pintper-textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.verLocales .pintper-row .contenedorVerLocales {
    margin-top: 50px;
}

.verLocales .pintper-row .moduloVerLocales {
    width: 100%;
    height: 30vw;
}

.verLocales .pintper-row{
    background-color: white;
}

.verLocales .pintper-row a {
    padding: 10px 50px;
    margin: 10px 0;
    box-sizing: border-box;     
    -webkit-appearance: button;
}

.contenedor-info-estilos {
    width: 50%;
    height: 60vh;
}

.estilo-ver-mas-local {
    display: grid;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.estilo-ver-mas-local hr{
    width: 99%;
    height: 2px;
    border: none;
    border-top: 1px solid #5F646D;
}

/*contenedor ver locales cambiando a grid*/
.contenedorVerLocales .pintper-row {
    background-color: white;
}

.contenedorVerLocales .pintper-row .pintper-col-8 {
    padding: 15px 0;
}

.contenedorVerLocales h2 {
    color: var(--black);
    font-size: 24px;
    font-family: var(--alata);
    font-weight: bold;
    margin: 0;
    display: inline;
}

.contenedorVerLocales h3 {
    margin: 0;
    color: var(--black);
    font-size: 18px;
    font-family: var(--open-sans);
}

.contenedorVerLocales p {
    margin: 0;
    color: var(--grey);
    font-family: var(--open-sans);
    font-size: 1rem;
}
/*termina aca*/

.verLocal .pintper-row {
    background-color: white;
}

.verLocal .pintper-row .pintper-col-8 {
    margin-top: 25px;
}

.verLocal .pintper-row .pintper-col-8 h2 {
    margin: 0;
    color: var(--black);
    font-size: 24px;
    font-family: var(--alata);
}

.verLocal .pintper-row .pintper-col-8 h3 {
    margin: 0;
    color: var(--black);
    font-size: 18px;
    font-family: var(--open-sans);
}

.verLocal .pintper-row .pintper-col-8 p {
    margin: 0;
    color: var(--grey);
    font-family: var(--open-sans);
    font-size: 1rem;
    text-align: right;
}

.verLocal .pintper-row .mapa {
    width: 100%;
    height: 60vh;
}

.verLocal .pintper-row .mapa .googlemap {
    width: inherit;
    height: inherit;
}

.verLocal .pintper-row .container-btn-local {
    text-align: center;
    margin-top: 15px;
    margin-left: 100px
}

.verLocal .pintper-row .container-btn-local-ver-mas {
    text-align: center;
    margin-top: 15px;
}

.verLocal .pintper-row .container-btn-local-ver-mas .pintper-button-op2{
    padding: 10px 40px;
}

.verLocal .pintper-row .container-btn-local .pintper-button {
    padding: 10px 40px;
}

.verLocal .pintper-row .container-btn-local .pintper-button-op2 {
    padding: 10px 40px;
}

.verLocal .pintper-row .container-btn-local .pintper-button-op2:hover {
    width: auto;
    height: auto;
    padding: 10px 40px;
    cursor: pointer;
}

.verLocal .pintper-row #facebook-icon, .verLocal .pintper-row #instagram-icon, .verLocal .pintper-row #twitter-icon {
    width: 25px;
    height: 25px;
    margin-left: 1vw;
}

.verLocal .pintper-row .social-media {
    display: flex;
    float: right;
}

.pintper-container .pintper-row .moduloCerveza {
    width: 100%;
    height: 100%;
}

.modulo-ver-estilos .pintper-row {
    background-color: white;
}

.modulo-ver-estilos .pintper-row .container-birras {
    margin: 10px 0;
    width: 100%;
}

.modulo-ver-estilos .pintper-row .container-birras h3 {
    display: inline;
    color: var(--black);
    font-size: 24px;
    font-family: var(--alata);
} 

.modulo-ver-estilos .pintper-row .container-birras p{
    float: right;
    color: var(--grey);
    font-size: 14px;
    font-family: var(--open-sans);
}

.modulo-ver-estilos .pintper-row .container-birras small {
    color: var(--black);
    font-size: 12px;
    font-family: var(--open-sans);
}

.nav-estilos {
    width: 100vw;
    height: 80vh;
    margin: 3vh 0;
    overflow-y: hidden;
}

.nav-estilos .navBar {
    width: 20vw;
    height: inherit;
    background-color: #C4C4C4;
    z-index: 20;
}

.nav-estilos .navBar ul {
    list-style: none;
    width: 60%;
    margin: 0;
    text-align: center;
    padding: 15px;
}

.nav-estilos .navBar ul li {
    margin-bottom: 20px;
    color: var(--primary);
    font-family: var(--open-sans);
    font-size: 12px;
    font-weight: bold;
}

.nav-estilos .navBar ul li a {
    color: var(--black);
    text-decoration: none;
}

.nav-estilos .navBar ul li a:hover {
    cursor: pointer;
    color: var(--primary);
}

.nav-estilos .pintper-menu-estilos-cerrado {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: #C4C4C4;
    left: 20vw;
}

.nav-estilos .pintper-menu-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: #C4C4C4;
    left: 0;
    z-index: 10;
}

.nav-estilos .pintper-menu-icon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px var(--primary);
}

.nav-estilos .pintper-menu-estilos {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: #C4C4C4;
    left: 20vw;
}

.nav-estilos .pintper-menu-estilos:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px var(--primary);
}

.nav-estilos-fade {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: nav-estilos-fade;
    animation-name: nav-estilos-fade;
}

@keyframes nav-estilos-fade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50px, 0, 0);
        transform: translate3d(-50px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); 
    }
}

.nav-estilos-fade-delay {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: nav-estilos-fade-delay;
    animation-name: nav-estilos-fade-delay;
}

@keyframes nav-estilos-fade-delay {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-54px, 0, 0);
        transform: translate3d(-54px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.hidden {
    display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    top: 0;
}

.nav-estilos .EspacioPublicidad {
    position: absolute;
    width: 68vw;/*Modifique esta linea*/
    height: auto;
    max-height: inherit;
    margin: 0 16vw;
    text-align: center;
    overflow: hidden;
}

.nav-estilos .EspacioPublicidad .carousel .carousel-item img {
    width: 100%;/* Agregue el width y el height*/
    height: auto;
    position: relative;
    z-index: 0;
    top: 0;
}

.nav-estilos .EspacioPublicidadReducido {
    position: relative;
    float: right;
    width: 65vw;/*Modifique esta linea*/
    height: inherit;
    margin: 0 5vw;
    text-align: center;
}

.nav-estilos .EspacioPublicidadMenu {
    position: relative;
    float: left;
    width: 60vw;
    height: inherit;
    margin: 0 10vw;
    text-align: center;
}

.nav-estilos .carousel-inner .img-carousel {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.contenedor-fotos {
    margin: 5vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 5px;
    justify-content: center;
}

.contenedor-fotos .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.contenedor-fotos .item img:hover {
    opacity: 0.7;
}

.contenedor-fotos .item .modal {
    display: none;
    position: fixed;
    z-index: 150;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.contenedor-fotos .item .modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.contenedor-fotos .item .modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.contenedor-fotos .item .modal .close:hover,
.contenedor-fotos .item .modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
 
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption h3 {
    color: var(--white);
}

.carousel-caption h4 {
    color: var(--white);
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

    .login-usuario {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 33.333333vw));
    }
    
    .login-usuario .contenedor-izquierda {
        display: inline;
        grid-column: 1 / 2;
        background-color: var(--primary);
        padding: 4vw;
        position: relative;
    }

    .login-usuario .contenedor-izquierda h1{
        font-family: var(--alata);
        font-size: 48px;
        color: var(--black);
        margin: 0;
    }

    .login-usuario .contenedor-izquierda p{
        font-family: var(--alata);
        font-size: 18px;
        color: var(--black);
        margin: 0;
    }

    .login-usuario .contenedor-izquierda .home-link {
        width: 25px;
        height: 25px;
        position: relative;
        top: 65vh;
        left: 0;
    }

    .login-usuario .contenedor-izquierda #home-link {
        width: 25px;
        height: 25px;
    }

    .login-usuario .contenedor-derecha {
        grid-column: 2 / 4;
    }

    .login-usuario .contenedor-derecha .form-iniciar-sesion .contenedor-flex {
        margin-top: 5vh;
    }

    .login-usuario .propietario-contenedor-derecha {
        background-color: var(--secondary);
    }

    .login-usuario .administrador-contenedor-derecha {
        background-color: var(--greenSuccess);
    }

    .nav-estilos .navBar ul {
        margin: 0 auto;
    }

    .nav-estilos .navBar ul li {
        font-size: 18px;
    }

}